html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;/*rem算出をしやすくするために*/
  }

  .content{
    background-color:  #131312;
    position: relative;
    font-size: 3rem;
    background-color: #131312;
    max-width: 640px;
    min-width: 360px;
    min-height: 100vh;
    /* position: relative; */
    position: absolute;
    width: 100%;
    /* height: 100vh; */
    /* top:50%; */
    left:50%;
    transform:translate(-50%,0%);
}

  header{
    max-width: 640px;
    min-width: 360px;
    position: absolute;
    left:50%;
    transform:translate(-50%,0%);
    position:fixed;
    z-index:100;
    top: 0; /* 基準の位置を画面の一番上に指定する */
    width: 100%;
    background-color:  #131312;
    margin-top: 0px;
    display: flex;
    justify-content:flex-start;
  }

  .header-title{
    display: flex;
  }

  .header-title a{
    margin-left: 10px;
  }

  .header-title a img{
    width: 28px;
    height: 28px;
  }

  .header-title a:hover{
    opacity: 0.9;
  }

  .header-title p{
    font-size: 2.5rem;
    font-weight: 700;
    color: #f3f321;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 15px;
  }

  .space{
    height: 45px;
    margin: 0 0 0 0;
  }

  .spaceUnder{
    height: 100px;
    margin: 0 0 0 0;
  }

  .inputText{
    max-width: 640px;
    min-width: 360px;
    position: absolute;
    left:50%;
    transform:translate(-50%,0%);
    position:fixed;
    z-index: 100;
    bottom: 0; /* 基準の位置を画面の一番下に指定する */
    width: 100%;
    height: 6.5vh;
    background-color: #f3f321;
    bottom: 0;
    display: flex;
  }

  .inputText textarea{
    font-size: 2.4rem;
    font-weight: 700;
    margin-left: 0.5%;
    /* max-width: ; */
    width: calc(100% - 86px);
    margin-top: 5px;
    height: 70%;
    resize: none;
  }

  .inputText .btn{
    height: 80%;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.0;
    padding: 0px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    /* vertical-align: middle; */
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    background-color: aqua;
    /* margin-left: 20px; */
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 7px;
    text-align: right;
  }

  .btn:hover{
    opacity: 0.9;
  }

  .myMessage{
    max-width: 80%;
    margin: 0 0 30px auto;
    text-align: right;
  }

  .friendMessage{
    max-width: 80%;
    margin-bottom: 30px;
    text-align: left;
  }

  .myMessage .messageContent{
    display: inline-block;
    background-color: #f3f321;
    border-radius: 5px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 0px;
    margin-right: 5px;
    max-width: 85%;
    
  }

  .friendMessage .messageContent{
    display: inline-block;
    background-color:aqua;
    border-radius: 5px;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 0px;
    margin-left: 5px;
    max-width: 85%;

  }

  .friendMessage p{
    margin-top: 0px;
    color:white;
    font-size: 1.3rem;
    margin-bottom: 0px;
  }

  .myMessage p{
    margin-top: 0px;
    color:white;
    font-size: 1.3rem;
    margin-bottom: 0px;
  }

  .messageContent p{
    font-size: 2.3rem;
    color: black;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    text-align: left;
  }
  

  
  